

h1 {
  font-family: cursive;
  font-size: 50px;
  text-align: center; 

}

h1 {
    
  animation-name: color-change;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
@keyframes color-change {
  0% {
    color: red;
  }
  10% {
    color: rgb(255, 200, 0);
  }
  20% {
    color: rgb(221, 255, 0);
  }
  30% {
    color: rgb(102, 255, 0);
  }
  40% {
    color: rgb(7, 250, 189);
  }
  50% {
    color: rgb(0, 136, 255);
  }
  60% {
    color: #0d00ff;
  }
  70% {
    color: #0d00ff;
  }
  80% {
    color: #d000ff;
  }
  90% {
    color: #ff00a6;
  }
  100% {
    color: #ff008c;
  }
}
/* display flex auf body macht chaos */
body {
   
    background-image: url(/Konsolen/MSI.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}


/* übercontainer der bilder */
.Bigcontainer {
  padding-bottom: 125px;
  
}


/* grid für raster benutzen? */
.post {
    
    margin-bottom: 20px;
    width: 600px;
    height: 400px;
    position: relative;
    margin-left: 600px;
    cursor: pointer;
    box-shadow: rgba(6, 26, 178, 0.56) 0px 22px 70px 4px;
    
    
     }

.post:hover .post-s {
    width: 600px;

}

.post img {
    
    width: 600px;
    height: 400px;

}
.post-s {
    width: 0px;
    height: 400px;
    background: rgba(33, 159, 16, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;

}
ul {
    list-style: none;
}
.post-s ul {
    color:rgb(222, 215, 215);
    font-size: 50px;
    border: 6px solid rgb(3, 225, 59);
    padding: 10px 30px;
    border-radius: 20px;
}
/* nacharbeiten fenster ist nicht sichtbar nach erscheinen */

/* button der das quiz einleitet */
#button {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

#button:hover {
  background-color: #fff;
  color: #2196f3;
  box-shadow: 0 0 10px #2196f3;
  transform: scale(1.05);
}



/* alles was das quiz angeht */
.spiel {
  
  background-color: #e9e9f2fc;
  width: 500px;
  height: 550px;
  display: block;
  margin:  0 auto;
  justify-content: center;
  border-radius: 15px;
  
}

#quiz {
  display: none;
  
  background-color: #7171df;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
  
    margin: auto;
    margin-top: 80px;
    text-align: center;
    
    border-radius: 20px;

    
  }
  
  .question {
    margin-bottom: 20px;
    
  }
  
  input[type="text"] {
    display: block;
    margin: 0 auto;
    width: 50px;
    padding: 5px;
    margin-top: 5px;
    
  }
/* beschreibe die h2 optik */
  div h2 {
    padding-top: 20px;
    font-weight: 400;
    background: linear-gradient(to right, #0004ff, #f105d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  /* beschreibe die Frage und Nr */
div h3 {
margin-top: 10px;
    text-decoration: overline;
text-decoration-color: blue;
text-align: center;
}

  /* beschreibe die Fragen */

  div p {
    text-align: center;
    margin-bottom: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: #48112f;
    text-shadow: 2px 2px 4px rgb(4, 247, 40);
  }

div h5 {
  text-align: center;
}

/* der button für den check der fragen */
  .Antworten {
    height: 45px;
    border-radius: 20px;
    color: #ca18ca;
    background-color: #161618;
    display: block;
    margin: 0 auto;
  }
/* display none damit es ausgeklappt werden kann */
  #quiz {
    
  }

 